<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" style="margin-bottom: 7rem;">
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem" style="margin-top: 5rem;">
      <!-- EMAIL -->
      <mat-form-field>
        <input type="email" matInput placeholder="Your email" name="email" ngModel required #emailInput="ngModel" [pattern]="emailPattern">
        <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty</mat-error>
        <mat-error *ngIf="emailInput.hasError('pattern')">Please enter a valid email</mat-error>
      </mat-form-field>
  
      <!-- NAME -->
      <mat-form-field>
        <input type="text" matInput placeholder="Your name" name="name" ngModel required #nameInput="ngModel">
        <mat-error *ngIf="nameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>
  
      <!-- PASSWORD -->
      <mat-form-field>
        <input type="password" matInput placeholder="Your password" name="password" ngModel required #passInput='ngModel' minlength="8" [pattern]="passwordPattern">
        <mat-hint align="end">{{passInput.value?.length}} / 8 </mat-hint>
        <mat-error *ngIf="passInput.hasError('required')">Field should not be empty</mat-error>
        <mat-error *ngIf="passInput.hasError('pattern')">Password should be at least 8 characters long and have one number.</mat-error>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary" style="margin-top: 100px; background-color: rgb(247, 117, 117);">Submit</button>
    </div>
  
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem" style="margin-left: 2rem; margin-top: 1.7rem">
       <!-- ADDRESS -->
       <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input type="address" matInput placeholder="Your address" name="address" ngModel required #addressInput='ngModel'>
        <mat-error *ngIf="addressInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>
  
      <!-- PHONE -->
      <mat-form-field>
        <input type="tel" matInput placeholder="+381xx/xxxx-xxx" name="phone" ngModel required #phoneInput="ngModel" [pattern]="phonePattern">
        <mat-error *ngIf="phoneInput.hasError('required')">Field should not be empty</mat-error>
        <mat-error *ngIf="phoneInput.hasError('pattern')">Please enter a valid phone number</mat-error>
      </mat-form-field>
      
      <!-- FAVORITE -->
      <mat-form-field>
        <mat-label>Select your favourite</mat-label>
        <mat-select panelDirection="down" ngModel name="favorite">
          <mat-option value="bride">Bride</mat-option>
          <mat-option value="bridesmaid">Bridesmaid</mat-option>
          <mat-option value="moms">Moms</mat-option>
          <mat-option value="plus-size">Plus Size</mat-option>
          <mat-option value="best-sellers">Best Sellers</mat-option>
          <mat-option value="accessories">Accessories</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
</form>
