<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <section fxLayout="column" fxLayoutAlign="center center" class="container" style="margin-top: 3rem;">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem" class="form-row" style="margin-top: 3rem;">
        <!-- Name -->
        <mat-form-field style="width: 17rem;">
          <mat-label>Enter your name</mat-label>
          <input type="text" matInput placeholder="Enter your name" name="name" ngModel required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.hasError('required')">Field should not be empty</mat-error>
        </mat-form-field>
      </div>
  
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem" class="form-row" style="margin-top: 0rem;">
        <!-- Card Number -->
        <mat-form-field style="width: 17rem;">
          <mat-label>Enter your card number</mat-label>
          <input type="text" matInput placeholder="Enter your card number" name="cardNumber" ngModel required #cardInput="ngModel" appFormatCardNumber>
          <mat-error *ngIf="cardInput.hasError('required')">Field should not be empty</mat-error>
        </mat-form-field>
      </div>
  
      <!-- Card Expiry Date -->
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <mat-form-field style="width: 5rem;">
          <mat-label>MM</mat-label>
          <input type="number" matInput placeholder="MM" name="expiryMonth" ngModel required #expiryMonthInput="ngModel" min="1" max="12" pattern="[0-9]*">
          <mat-error *ngIf="expiryMonthInput.hasError('required')"></mat-error>
        </mat-form-field>
  
        <mat-form-field style="width: 5rem;">
          <mat-label>YY</mat-label>
          <input type="number" matInput placeholder="YY" name="expiryYear" ngModel required #expiryYearInput="ngModel" min="24" max="90" pattern="[0-9]*">
          <mat-error *ngIf="expiryYearInput.hasError('required')"></mat-error>
        </mat-form-field>
      </div>
  
      <!-- CVV -->
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="form-row" style="margin-top: 0rem;">
      <mat-form-field style="width: 7rem;">
        <mat-label>CVV</mat-label>
        <input type="text" matInput placeholder="CVV" name="cvv" ngModel required #cvvInput="ngModel" maxlength="3" [pattern]="cvvPattern" (input)="limitCVVInput($event)">
        <mat-error *ngIf="cvvInput.hasError('required')"></mat-error>
        <mat-error *ngIf="cvvInput.hasError('pattern') || cvvInput.value?.length !== 3 && cvvInput.touched"></mat-error>
      </mat-form-field>
    </div>

  
      <!-- Submit button -->
      <div fxLayout="row" fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" style="margin-top: 2rem;">Submit</button>
      </div>
    </form>
  </section>
  

  
  
  