<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <img src="https://cdn.afarose.com/banner/US/364?1717377190" style="width: 100%; height: 550px;">
  
  <mat-card class="example-container" fxLayout="flex" style="margin: 1%;padding: 2%;  border: none; ">
    <mat-drawer mode="side" opened style="width: 27%; border: none;">
      <img style="height: 380px; margin-left: 15%; border-radius: 3%; margin-top: 5%; " mat-card-image src="https://cdn.afarose.com/Lproduct/product/W1A100B17S/A2/1.jpg" alt="Photo of a Shiba Inu">
            
    </mat-drawer>
    <div fxLayout="row" style="width: 68%;" >
      <div class="example-card" style=" height: 380px; margin-top: 2%; width: 100%;">
        <p style="font-weight: bold; font-size: 23px; font-style: italic; font-family:'Courier New', Courier, monospace ; margin-top: 4%; margin-left: 6%;">ADA</p>  
        <div fxLayout="row" style="margin-left: 6%;">
        <i class="fa fa-star" aria-hidden="true" style="color: goldenrod;"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: goldenrod;"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: goldenrod;"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: goldenrod;"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: goldenrod;"></i>
      </div>
      <p style="margin-left: 6%; margin-top: 1%; font-style: italic; font-size: 15px;">
        The dress features intricate lace detailing and a beautifully fitted bodice that 
        accentuates the waist perfectly. The sweetheart neckline and delicate straps add a
         touch of romance, while the flowing A-line skirt creates a timeless silhouette that
          is both flattering and elegant. The train length was just right, adding a dramatic
           flair without being cumbersome.
      </p>
      <div fxLayout="row">
        <img src="https://cdn.afarose.com/reviews/700/converted_1.jpg" alt="slika1" style="height: 165px; width: auto;border-radius: 3%; margin-left: 6%; margin-right: 1%;">
        <img src="https://cdn.afarose.com/reviews/700/converted_2.jpg" alt="slika1" style="height: 165px; width: auto;border-radius: 3%; ">
        <img src="https://cdn.afarose.com/reviews/700/converted_3.jpg" alt="slika1" style="height: 165px; width: auto;border-radius: 3%; margin-left: 1%;">
      </div>
    </div>
      </div>
  </mat-card>

  <div class="example-container" fxLayout="flex" style="margin: 1%;margin-bottom: 1%;  border: none; ">
    <mat-drawer mode="side" opened style="width: 27%; border: none;">
      <img style="height: 450px; width: 290px;margin-left: 3%;   " mat-card-image src="https://afarose.s3.amazonaws.com/dashboard/776x1120_Bridal.jpg" alt="Photo of a Shiba Inu">
    </mat-drawer>
    <mat-drawer mode="side" opened style="width: 27%; border: none;">
      <img style="height: 450px; margin-left: 2%; width: 290px;" mat-card-image src="https://afarose.s3.amazonaws.com/dashboard/776x1120_Bridesmaid.jpg" alt="Photo of a Shiba Inu">
            
    </mat-drawer>
    <mat-drawer mode="side" opened style="width: 27%; border: none;">
      <img style="height: 450px; margin-left: 2%; width: 290px;  " mat-card-image src="https://afarose.s3.amazonaws.com/dashboard/776x1120_Formal.jpg" alt="Photo of a Shiba Inu">
            
    </mat-drawer>
    <mat-drawer mode="side" opened style="width: 27%; border: none;">
      <img style="height: 450px; margin-left: 3%;  width: 290px; " mat-card-image src="https://afarose.s3.amazonaws.com/dashboard/776x1120_Mom.jpg" alt="Photo of a Shiba Inu">
            
    </mat-drawer>

  </div>
  <div class="example-container" fxLayout="flex" style="margin: 1%;margin-bottom: 1%;  border: none; ">
    <mat-drawer mode="side" opened style="width: 65%; border: none;">
      <img style="height: 450px;margin-left: 2%;" mat-card-image src="https://afarose.s3.amazonaws.com/event/alondra_banner_mid2.jpg" alt="Photo of a Shiba Inu">
            
    </mat-drawer>
   <mat-card fxLayout="column" style="width: 100%; margin-left: 3%;">
    <mat-drawer mode="side" opened style=" border: none;">
      <img style="height: 222px;" mat-card-image src="https://afarose.s3.amazonaws.com/assets/images/home-banner/869x320-2.jpg">
            
    </mat-drawer>
    <mat-drawer mode="side" opened style="width: 100%; border: none;">
      <img style="height: 222px;" mat-card-image src="https://afarose.s3.amazonaws.com/assets/images/home-banner/appointment_2.jpg">      
    </mat-drawer>
  </mat-card>
  </div>

  <img src="https://afarose.s3.amazonaws.com/assets/images/home-banner/whyus.jpg" style="width: 100%;">




    